.jumbotron {
    background: #EACB4E;
    font-family: 'Margarine', cursive;
}

body {
    background: purple;
}

.card {
    font-family: 'Margarine', cursive;
    background: teal;
}

button {
    display: flex;
    flex-wrap: wrap;
}

.btn:hover {
    background: #EACB4E;
    color: black;

}

.btn-primary {
    background: orchid;
    color: whitesmoke;

}

#player-name-input {
    width: 140%;
    margin-right: 5px;
}

#player-join-game {
    margin-left: 5.5em;
}

#chat-submit {
    margin-left: 1vw;
}

#join-game {
    display: flex;
    justify-content: center;
}

#result {
    color: purple;
    text-align: center;
    font-family: 'Margarine', cursive;
}

#player-1-name, #player-2-name, #player-1-choose-text, #player-2-choose-text, #player-1-connection, #player-2-connection {
    color: whitesmoke;
}

#player-1-stats, #player-2-stats {
    color: purple;
}

#chat-message, #chat-submit {
    border: 3px solid teal;
}

#chat-window {
    background: purple;
    color: whitesmoke;
    width: 60%;
    border: 5px solid teal;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#chat-submit-row {
   display: flex;
justify-content: center;
flex-wrap: wrap;
}

#chat-message {
    width: 35vw;
}

.chat {
    display: inline-block;
}
 