.jumbotron {
    background: #EACB4E;
    font-family: 'Margarine', cursive;
}

body {
    background: purple;
}

.card {
    font-family: 'Margarine', cursive;
    background: teal;
}

button {
    display: flex;
    flex-wrap: wrap;
}

button:hover {
    background: #EACB4E;
    color: black;

}

.btn-primary {
    background: orchid;
    color: whitesmoke;

}

#player-name-input {
    /* overflow: auto;
    clear: both; */
    width: 80%;
}

#join-game {
    margin-left: 0 auto;
    margin-right: 0 auto;
}

#result {
    color: purple;
    text-align: center;
    font-family: 'Margarine', cursive;
}

#player-1-name, #player-2-name, #player-1-choose-text, #player-2-choose-text, #player-1-connection, #player-2-connection {
    color: whitesmoke;
}

#player-1-stats, #player-2-stats {
    color: purple;
}
 